
<div id="page">
      <div id="content">
        <div id="header">
          <script src="javascripts/jquery-2.2.0.min.js"></script>
          <script src="javascripts/signups.js"></script>
          <h1>Signups are loading</h1>
          <h2>Please be patient</h2>
        </div>
      </div>
    </div>
